.elementor-kit-6 {
    --e-global-color-primary: #141F2E;
    --e-global-color-secondary: #D4E5D3;
    --e-global-color-text: #626A74;
    --e-global-color-accent: #CAEE0E;
    --e-global-color-b9fc877: #0F8FA4;
    --e-global-color-2f66099: #D6D9D5;
    --e-global-color-6f8849f: #F0F4EF;
    --e-global-color-a9b469d: #095763;
    --e-global-color-89454e9: #F4F4F5;
    --e-global-color-b914df3: #FFFFFF;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-fca57ec-font-family: "Manrope";
    --e-global-typography-fca57ec-font-size: 3.5rem;
    --e-global-typography-fca57ec-font-weight: 500;
    --e-global-typography-fca57ec-line-height: 1.4em;
    --e-global-typography-bc15d04-font-family: "Manrope";
    --e-global-typography-bc15d04-font-size: 3rem;
    --e-global-typography-bc15d04-font-weight: 600;
    --e-global-typography-bc15d04-line-height: 1.4em;
    --e-global-typography-162d273-font-family: "Manrope";
    --e-global-typography-162d273-font-size: 2.5rem;
    --e-global-typography-162d273-font-weight: 600;
    --e-global-typography-162d273-line-height: 1.4em;
    --e-global-typography-713b131-font-family: "Manrope";
    --e-global-typography-713b131-font-size: 1.75rem;
    --e-global-typography-713b131-font-weight: 600;
    --e-global-typography-713b131-line-height: 1.4em;
    --e-global-typography-7bc7ad2-font-family: "Manrope";
    --e-global-typography-7bc7ad2-font-size: 1.5rem;
    --e-global-typography-7bc7ad2-font-weight: 600;
    --e-global-typography-7bc7ad2-line-height: 1.4em;
    --e-global-typography-710f4d7-font-family: "Manrope";
    --e-global-typography-710f4d7-font-size: 1.25rem;
    --e-global-typography-710f4d7-font-weight: 600;
    --e-global-typography-710f4d7-line-height: 1.4em;
    --e-global-typography-07436fe-font-family: "Manrope";
    --e-global-typography-07436fe-font-size: 0.875rem;
    --e-global-typography-07436fe-font-weight: 700;
    --e-global-typography-07436fe-text-transform: uppercase;
    --e-global-typography-07436fe-line-height: 1.2em;
    --e-global-typography-c2469e0-font-family: "Manrope";
    --e-global-typography-c2469e0-font-size: 1.125rem;
    --e-global-typography-c2469e0-font-weight: 500;
    --e-global-typography-c2469e0-line-height: 1.6em;
    --e-global-typography-eba036b-font-family: "Manrope";
    --e-global-typography-eba036b-font-size: 1rem;
    --e-global-typography-eba036b-font-weight: 500;
    --e-global-typography-eba036b-line-height: 1.6em;
    --e-global-typography-481f633-font-family: "Manrope";
    --e-global-typography-481f633-font-size: 0.875rem;
    --e-global-typography-481f633-font-weight: 500;
    --e-global-typography-481f633-line-height: 1.6em;
    --e-global-typography-5e26ec0-font-family: "Manrope";
    --e-global-typography-5e26ec0-font-size: 1rem;
    --e-global-typography-5e26ec0-font-weight: 600;
    --e-global-typography-5e26ec0-line-height: 1.2em;
    --e-global-typography-3df3cc5-font-family: "Manrope";
    --e-global-typography-3df3cc5-font-size: 0.8rem;
    --e-global-typography-3df3cc5-font-weight: 600;
    --e-global-typography-3df3cc5-line-height: 1.2em;
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-c2469e0-font-family), Sans-serif;
    font-size: var( --e-global-typography-c2469e0-font-size);
    font-weight: var( --e-global-typography-c2469e0-font-weight);
    line-height: var( --e-global-typography-c2469e0-line-height);
}

.elementor-kit-6 button,
.elementor-kit-6 input[type="button"],
.elementor-kit-6 input[type="submit"],
.elementor-kit-6 .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-5e26ec0-font-family), Sans-serif;
    font-size: var( --e-global-typography-5e26ec0-font-size);
    font-weight: var( --e-global-typography-5e26ec0-font-weight);
    line-height: var( --e-global-typography-5e26ec0-line-height);
    color: var( --e-global-color-primary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-accent);
    border-radius: 999px 999px 999px 999px;
    padding: 12px 26px 12px 26px;
}

.elementor-kit-6 button:hover,
.elementor-kit-6 button:focus,
.elementor-kit-6 input[type="button"]:hover,
.elementor-kit-6 input[type="button"]:focus,
.elementor-kit-6 input[type="submit"]:hover,
.elementor-kit-6 input[type="submit"]:focus,
.elementor-kit-6 .elementor-button:hover,
.elementor-kit-6 .elementor-button:focus {
    background-color: #00000000;
    color: var( --e-global-color-b914df3);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-b914df3);
    border-radius: 99px 99px 99px 99px;
}

.elementor-kit-6 h1 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-fca57ec-font-family), Sans-serif;
    font-size: var( --e-global-typography-fca57ec-font-size);
    font-weight: var( --e-global-typography-fca57ec-font-weight);
    line-height: var( --e-global-typography-fca57ec-line-height);
}

.elementor-kit-6 h2 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-bc15d04-font-family), Sans-serif;
    font-size: var( --e-global-typography-bc15d04-font-size);
    font-weight: var( --e-global-typography-bc15d04-font-weight);
    line-height: var( --e-global-typography-bc15d04-line-height);
}

.elementor-kit-6 h3 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-162d273-font-family), Sans-serif;
    font-size: var( --e-global-typography-162d273-font-size);
    font-weight: var( --e-global-typography-162d273-font-weight);
    line-height: var( --e-global-typography-162d273-line-height);
}

.elementor-kit-6 h4 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-713b131-font-family), Sans-serif;
    font-size: var( --e-global-typography-713b131-font-size);
    font-weight: var( --e-global-typography-713b131-font-weight);
    line-height: var( --e-global-typography-713b131-line-height);
}

.elementor-kit-6 h5 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-7bc7ad2-font-family), Sans-serif;
    font-size: var( --e-global-typography-7bc7ad2-font-size);
    font-weight: var( --e-global-typography-7bc7ad2-font-weight);
    line-height: var( --e-global-typography-7bc7ad2-line-height);
}

.elementor-kit-6 h6 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-710f4d7-font-family), Sans-serif;
    font-size: var( --e-global-typography-710f4d7-font-size);
    font-weight: var( --e-global-typography-710f4d7-font-weight);
    line-height: var( --e-global-typography-710f4d7-line-height);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header .site-branding {
    flex-direction: column;
    align-items: stretch;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

.site-footer .site-branding {
    flex-direction: column;
    align-items: stretch;
}

@media(max-width:1024px) {
    .elementor-kit-6 {
        --e-global-typography-fca57ec-font-size: 2.56rem;
        --e-global-typography-bc15d04-font-size: 2.28rem;
        --e-global-typography-162d273-font-size: 2rem;
        --e-global-typography-713b131-font-size: 1.5rem;
        --e-global-typography-7bc7ad2-font-size: 1.2rem;
        --e-global-typography-710f4d7-font-size: 1.125rem;
        --e-global-typography-c2469e0-font-size: 1rem;
        --e-global-typography-eba036b-font-size: 0.875rem;
        --e-global-typography-481f633-font-size: 0.75rem;
        font-size: var( --e-global-typography-c2469e0-font-size);
        line-height: var( --e-global-typography-c2469e0-line-height);
    }
    .elementor-kit-6 h1 {
        font-size: var( --e-global-typography-fca57ec-font-size);
        line-height: var( --e-global-typography-fca57ec-line-height);
    }
    .elementor-kit-6 h2 {
        font-size: var( --e-global-typography-bc15d04-font-size);
        line-height: var( --e-global-typography-bc15d04-line-height);
    }
    .elementor-kit-6 h3 {
        font-size: var( --e-global-typography-162d273-font-size);
        line-height: var( --e-global-typography-162d273-line-height);
    }
    .elementor-kit-6 h4 {
        font-size: var( --e-global-typography-713b131-font-size);
        line-height: var( --e-global-typography-713b131-line-height);
    }
    .elementor-kit-6 h5 {
        font-size: var( --e-global-typography-7bc7ad2-font-size);
        line-height: var( --e-global-typography-7bc7ad2-line-height);
    }
    .elementor-kit-6 h6 {
        font-size: var( --e-global-typography-710f4d7-font-size);
        line-height: var( --e-global-typography-710f4d7-line-height);
    }
    .elementor-kit-6 button,
    .elementor-kit-6 input[type="button"],
    .elementor-kit-6 input[type="submit"],
    .elementor-kit-6 .elementor-button {
        font-size: var( --e-global-typography-5e26ec0-font-size);
        line-height: var( --e-global-typography-5e26ec0-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-6 {
        font-size: var( --e-global-typography-c2469e0-font-size);
        line-height: var( --e-global-typography-c2469e0-line-height);
    }
    .elementor-kit-6 h1 {
        font-size: var( --e-global-typography-fca57ec-font-size);
        line-height: var( --e-global-typography-fca57ec-line-height);
    }
    .elementor-kit-6 h2 {
        font-size: var( --e-global-typography-bc15d04-font-size);
        line-height: var( --e-global-typography-bc15d04-line-height);
    }
    .elementor-kit-6 h3 {
        font-size: var( --e-global-typography-162d273-font-size);
        line-height: var( --e-global-typography-162d273-line-height);
    }
    .elementor-kit-6 h4 {
        font-size: var( --e-global-typography-713b131-font-size);
        line-height: var( --e-global-typography-713b131-line-height);
    }
    .elementor-kit-6 h5 {
        font-size: var( --e-global-typography-7bc7ad2-font-size);
        line-height: var( --e-global-typography-7bc7ad2-line-height);
    }
    .elementor-kit-6 h6 {
        font-size: var( --e-global-typography-710f4d7-font-size);
        line-height: var( --e-global-typography-710f4d7-line-height);
    }
    .elementor-kit-6 button,
    .elementor-kit-6 input[type="button"],
    .elementor-kit-6 input[type="submit"],
    .elementor-kit-6 .elementor-button {
        font-size: var( --e-global-typography-5e26ec0-font-size);
        line-height: var( --e-global-typography-5e26ec0-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}